
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Sleepless</title>

<style>
    {#h1#}
    {#{#}
    {##}
    {#    text-align:center;#}
    {#}#}
    {#p#}
    {#{#}
    {#    color:palegreen;#}
    {#    text-align:center;#}
    {#}#}
    p.center{
        text-align: center;
        color:blue;
    }

</style>

</head>

<body id="home">

<h1 class="center">This is website Sleepless</h1>

<p class="center">this is the first paragraph</p>

</body>
</html>