<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .div1{
            border: dashed 2px yellow;
            height: 200px;
            width: 30%;
            margin: 10px
        }
        .div2{
            border: dashed 2px indianred;
            height: 200px;
            width: 30%;
            margin: 20px
        }
        .div3{
            border: dashed 2px cornflowerblue;
            height: 200px;
            width: 30%;
            margin: 10px
        }
    </style>

</head>
<body>
    <div class="div1">div1</div>
    <div class="div2">div2</div>
    <div class="div3">div3</div>
</body>
</html>