{#{% extends "admin/base.html" %}#}


<head>
    {% extends "admin/base.html" %}
    {% load static %}
    <meta charset="UTF-8">
    {% block title %}{{ title }} | {{ site_title|default:_('Sleepless site admin') }}{% endblock %}
</head>

{#{% block title %}{{ title }} | {{ site_title|default:_('Sleepless site admin') }}{% endblock %}#}

{#{% block branding %}#}
{#<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>#}
{#{% endblock %}#}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Sleeepless Administration</a></h1>

{% endblock %}


{#{% block nav-global %}{% endblock %}#}

